<!DOCTYPE html>
<html>
<head>
  <title>Tethys</title>
  <%= stylesheet_link_tag    "tethys/application", media: "all" %>
  <%= javascript_include_tag "tethys/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
